CLIPPING_DB_HOST=<change-me>
CLIPPING_DB_PORT=<change-me>
CLIPPING_DB_NAME=<change-me>
CLIPPING_DB_USER=<change-me>
CLIPPING_DB_PASSWORD=<change-me>
API_HOST=<change-me>
API_PORT=<change-me>
API_TOKEN=<change-me>
ENVIRONMENT=<change-me>
LOG_LEVEL=<change-me>
